.home{
    display: flex;
}
h3{
color:orange;
};

button{
    color: lightblue;
    padding: 10px;
    border-radius: 12px;
}
.img{
    background-color: red;
height: 150px;

}
.review img{
    background-color: slategray;
   height: 200px;
   width: 200px;
   margin-top: 20px;
}
.review{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
a {
    text-decoration: none;
    background-color: skyblue;
    padding: 10px;
    border-radius: 12px;
    color: whitesmoke;
}